{% extends 'pets/basic.html' %}

{% block title %}
Fishes
{% endblock %}

{% block css %}

    .card__button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #f89b29;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card__button:hover {
  background-color: #ff0f7b;
}
    .card__image {
  width: 90%;
  height: 80%;
  object-fit: cover;
}
    .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px;
    }
    .card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin-bottom: 20px;
  margin-right:30px
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}
{% endblock %}

{% block body %}
<div class="card-container">
    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Oreochromis_mossambicus.JPG/1280px-Oreochromis_mossambicus.JPG"
             alt="Card Image" class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">Mozambique tilapia</p>
            <p class="card__description">The Mozambique tilapia (Oreochromis mossambicus) is an oreochromine cichlid fish native to southeastern Africa. Dull colored, the Mozambique tilapia often lives up to a decade in its native habitats. It is a popular fish for aquaculture.</p>
            <button class="card__button"> Explore</button>
        </div>
    </div>
    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Etroplus_suratensis.jpg/1024px-Etroplus_suratensis.jpg"
             alt="Card Image" class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">Green chromide</p>
            <p class="card__description">The green chromide (Etroplus suratensis) is a species of cichlid fish that is native to fresh and brackish water habitats in some parts in India such as Kerala, Goa, Chilika Lake in Odisha and Sri Lanka. The species was first described by Marcus Elieser Bloch in 1790. </p>
            <button class="card__button"> Explore</button>
        </div>
    </div>
    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Astatotilapia_burtoni.png/1024px-Astatotilapia_burtoni.png"
             alt="Card Image" class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">Astatotilapia burtoni

            </p>
            <p class="card__description">Astatotilapia burtoni is a species of fish in the family Cichlidae.It is found in Lake Tanganyika and its surrounding waterways,[2] including parts of Burundi, Rwanda, Tanzania, and Zambia.</p>
            <button class="card__button"> Explore</button>
        </div>
    </div>
    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/The_Manjakoori_%28Sun_Catfish%29_from_the_Chalakudy_River%2C_Kerala.jpg/1280px-The_Manjakoori_%28Sun_Catfish%29_from_the_Chalakudy_River%2C_Kerala.jpg"
             alt="Card Image" class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">Horabagrus brachysoma



            </p>
            <p class="card__description">Horabagrus brachysoma or the sun catfish is a species of catfish endemic to rivers in the Western Ghats of India. It is known as Günther's catfish or yellow catfish.[2] It is also known as Manjakoori in its native range.
            </p>
            <button class="card__button"> Explore</button>
        </div>
    </div>


    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Colisa_lalia-Male_and_Female.jpg/1024px-Colisa_lalia-Male_and_Female.jpg"
             alt="Card Image"
             class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">Dwarf gourami</p>
            <p class="card__description">The dwarf gourami is native to Pakistan, India and Bangladesh. However, it has also been widely distributed outside of its native range. It inhabits slow-moving waters in rivulets, streams and lakes, occurring in areas with plentiful vegetation.
            </p>
            <button class="card__button"> Explore</button>
        </div>
    </div>
</div>
{% endblock %}