{% extends 'pets/basic.html' %}

{% block title %}
Rabbits
{% endblock %}

{% block css %}

    .card__button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #f89b29;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card__button:hover {
  background-color: #ff0f7b;
}
    .card__image {
  width: 90%;
  height: 80%;
  object-fit: cover;
}
    .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px;
    }
    .card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin-bottom: 20px;
  margin-right:30px
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}
{% endblock %}

{% block body %}
<div class="card-container">
    <div class="card">
        <img src="https://a-z-animals.com/media/2023/01/shutterstock_1332106268.jpg"
             alt="Card Image" class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">Netherland Dwarf rabbit</p>
            <p class="card__description">The Netherland Dwarf is a breed of domestic rabbit that originated in the Netherlands. Weighing 1.1–2.5 pounds (0.50–1.13 kg),[1][2] the Netherland Dwarf is one of the smallest rabbit breeds</p>
            <button class="card__button"> Explore</button>
        </div>
    </div>
    <div class="card">
        <img src="https://s3.animalia.bio/animals/photos/full/1.25x1/shutterstock-2044927376jpg.webp"
             alt="Card Image" class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">European-rabbit</p>
            <p class="card__description">The European rabbit (Oryctolagus cuniculus) or coney[4] is a species of rabbit native to the Iberian Peninsula (Spain, Portugal and Andorra), western France, and the northern Atlas Mountains in northwest Africa. </p>
            <button class="card__button"> Explore</button>
        </div>
    </div>
    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Rabbit_-_Polish_breed_-_White_with_Red_Eyes_-_from_Japan.jpg"
             alt="Card Image" class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">Polish rabbit</p>
            <p class="card__description">The Polish rabbit is compact breed of domestic rabbit, most often bred by fanciers (as opposed to hobbyists) and commonly exhibited in rabbit shows. Despite its name, the Polish rabbit likely originated in England, not Poland.</p>
            <button class="card__button"> Explore</button>
        </div>
    </div>
    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/BRACHYLAGUS_IDAHOENSIS.jpg"
             alt="Card Image" class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">Pygmy rabbit</p>
            <p class="card__description">The pygmy rabbit (Brachylagus idahoensis) is a rabbit species native to the United States. It is also the only native rabbit species in North America to dig its own burrow.
            </p>
            <button class="card__button"> Explore</button>
        </div>
    </div>


    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Broken_Castor_Rex_Rabbit.JPG/1024px-Broken_Castor_Rex_Rabbit.JPG"
             alt="Card Image"
             class="card__image">

        <div class="card__content">
            <!-- Add the image using the <img> tag and provide the path to the image -->
            <p class="card__title">Rex rabbit</p>
            <p class="card__description">The term rex rabbit (without capitalization) refers informally to one of at least nine breeds of domestic rabbit (or a specimen thereof or similar thereto). One such breed is the Rex, which is recognized by the American Rabbit Breeders Association (ARBA).
            </p>
            <button class="card__button"> Explore</button>
        </div>
    </div>
</div>
{% endblock %}